body {
  margin-top: 30px!important;
}
.show-contact  header {
  border-bottom: 1px solid red;
  margin-bottom: 20px;
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.header > a {
  color: red;
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  color: red;
}

.contact > a {
  text-decoration: none;
  color: inherit;
}

.contact:hover {
  text-decoration: none;
  background-color: red;
  color: white;
  cursor:pointer;
}

.contact > a:hover {
  text-decoration: none;
  background-color: red;
  color: white;
  cursor:pointer;
}

.contact-info {
  display: inline-flex;
  color: gray;
}
