<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6">
      <div class="col-sm">
        <div class="header">
          <h2 class="col-sm">Contacts list</h2>
          <a href="#!/contacts/new" class="col-sm"><i class="fa fa-plus" aria-hidden="true"></i> New Contact</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <table class="table table-bordered">
            <tr ng-repeat="contact in contactList">
              <td class="contact">
                <a href="#">                  
                  <h5>{{ contact.name }}</h5>
                  <div class="contact-info">
                    <small><i class="fa fa-mobile" aria-hidden="true"></i> {{ contact.mobile }}&nbsp&nbsp&nbsp</small>
                    <small><i class="fa fa-envelope" aria-hidden="true"></i> {{ contact.email }}</small>
                  </div>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
